#tabs {
    clear: both
}

.form-row {
    display: -ms-flexbox;
    display: table-row !important; 
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.ui-state-default a.errortab {
    background-color: red;
    color: white
}

.ui-tabs .ui-tabs-panel {
    overflow: hidden
}

li.nav-item {
    list-style-type: unset;
}

tr.empty-form {
    display: none !important;
}

th.original {
    display: none;
}

th tr.original {
    display: none;
}

td.original {
    display: none;
}

.inline-group .tabular td.original p {
    display: none;
}

.inline-group .tabular tr.has_original td {
    padding-top: 0.5em;
}

.submit-row a.deletelink {
    display: block;
    background: #ba2121;
    border-radius: 4px;
    padding: 10px 15px;
    height: 35px;
    line-height: 15px;
    color: #fff;
}


#tabs .ui-widget-header {
  background: var(--darkened-bg);
}
#tabs .ui-widget-content {
  background: var(--body-bg);
}
#tabs .ui-widget-content a {
  color: var(--button-fg);
}
#tabs .ui-widget-content {
  color: var(--body-fg);
}

#tabs .ui-state-default, #tabs .ui-widget-content .ui-state-default, #tabs .ui-widget-header .ui-state-default {
  background: var(--default-button-bg);
}
#tabs .ui-state-hover a, #tabs .ui-state-hover a:link {
  background: var(--default-button-hover-bg);
}
#tabs .ui-state-active,  #tabs .ui-widget-content .ui-state-active,  #tabs .ui-widget-header .ui-state-active {
  background: var(--body-bg);
  color: var(--body-fg);
  border-color: var(--body-fg);
}
#tabs .ui-state-active a, #tabs .ui-state-active a:link, #tabs .ui-state-active a:visited {
  color: var(--body-fg);
}
#tabs {
  background: var(--body-bg);
}
