#tabs {
    clear: both
}

.form-row {
    display: -ms-flexbox;
    display: table-row !important; 
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.ui-state-default a.errortab {
    background-color: red;
    color: white
}

.ui-tabs .ui-tabs-panel {
    overflow: hidden
}

li.nav-item {
    list-style-type: unset;
}

tr.empty-form {
    display: none !important;
}

th.original {
    display: none;
}

th tr.original {
    display: none;
}

td.original {
    display: none;
}

.inline-group .tabular td.original p {
    display: none;
}

.inline-group .tabular tr.has_original td {
    padding-top: 0.5em;
}

.submit-row a.deletelink {
    display: block;
    background: #ba2121;
    border-radius: 4px;
    padding: 10px 15px;
    height: 35px;
    line-height: 15px;
    color: #fff;
}
